body {
    margin: 0;
    background-color: #1F2A3E;
    color: white;
    display: flex;
    flex-wrap: flex;
}
/*
code {
    white-space: pre;
}*/

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea{
	width: 300px;
	height: 300px;
	border-radius: 20px;
	margin: 20px;
	margin-left: 0px;
	padding: 10px;
	width: 100%;
	resize: both;
	border: none;
	outline: none;
	&:focus{}
	&:hover{}
}

form input{
	border: none;
	outline: none;
	width: 100%;
	margin: 20px;
	margin-left: 0px;
	padding: 10px;
	border-radius: 10px;
	&:hover{}
	&:focus{}
	&[type=submit]
	{
		background-color: deepskyblue;
		width: 200px;
	}
}

a{
	color:#DBA4FF;
	&:visited
	{
		color:#DBA4FF;
		/*color: #FF52E7;*/
	}
}

.main {
    padding: 10px;
    width: 500px;
}

.sidebar {
    background-color: #483F56;
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    margin: 20px; 
} 

h2{
	margin-top: 5px;
}